.hero .container {
  padding-top: 12rem;
  padding-bottom: 20rem;
}

.hero--text {
  text-align: center;
}

.hero--text__hello {
  color: var(--text-primary-700);
  font-size: clamp(2rem, 1rem + 1.4vw, 3.4rem);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.07em;
  word-spacing: -0.2em;
}

.hero--text h1 {
  font-size: clamp(4rem, 1rem + 18vw, 20vmin);
  line-height: 1em;
  font-weight: 900;
  /* font-style: italic; */
  color: var(--text-primary-700);
  letter-spacing: -0.04em;
  /* font-style: italic;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--black-500); */
}

.hero--text__title {
  font-size: clamp(3rem, 1rem + 7vw, 8rem);
  color: var(--text-primary-500);
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.hero--text__cta {
  --clr: var(--text-primary-500);
  border: 2px solid var(--clr);
  background: transparent;
  color: var(--clr);
  font-size: clamp(1.6rem, 1rem + 2vw, 2.4rem);
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.7em 1.5em;
  border-radius: 0.2em;
  cursor: pointer;
  transition: 200ms;
}

.hero--text__cta:hover,
.hero--text__cta:focus {
  --clr: var(--text-secondary-800);
  background: var(--bg-secondary-700);
  /* background: var(--white-500); */
}

.hero--text__cta:active {
  transform: scale(0.96);
}

@media (min-width: 768px) {
  .hero .container {
    padding-bottom: 10rem;
    padding-top: 5rem;
  }

  .hero--text h1 {
    line-height: 0.85em;
    -webkit-text-stroke-width: 2px;
  }
}

@media (max-width: 990px) {
  .hero--email,
  .hero--contact-links {
    display: none;
  }
}
@media (min-width: 991px) {
  .hero--email,
  .hero--contact-links {
    position: fixed;
    left: 97%;
    bottom: 100px;
    writing-mode: vertical-lr;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--black-100);
    cursor: pointer;
    z-index: 100;
    transition: 200ms;
  }

  .hero--email:hover,
  .hero--email:focus {
    color: rgb(36, 94, 255);
    transform: translateY(5px);
  }

  .hero--contact-links {
    left: 0.5%;
    bottom: 500px;
  }

  .hero--email::after,
  .hero--contact-links::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 1px;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    background: currentColor;
  }

  .hero--contact-links::after {
    height: 500px;
    margin-top: 30px;
  }

  .hero--contact-links a {
    display: inline-block;
    font-size: 2.2rem;
    margin-top: 1.5rem;
    transition: 200ms;
  }

  .hero--contact-links a:hover {
    transform: scale(1.2) rotate(10deg);
  }

  .hero--contact-links .twitter {
    color: rgb(8, 164, 236);
  }

  .hero--contact-links .linkedin {
    color: rgb(1, 1, 230);
  }

  .hero--contact-links .github {
    color: var(--black-500);
  }

  .hero--text__title {
    max-width: 80%;
    margin-inline: auto;
  }
}
