.header--nav {
  height: var(--nav-height);
  z-index: 1000;
}

.header--nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav--logo h2 {
  font-size: clamp(2.5rem, 2rem + 1vw, 4rem);
  letter-spacing: -0.07em;
  color: var(--text-primary-800);
  transition: 250ms;
}

.header--nav.open .nav--logo h2 {
  color: var(--text-secondary-800);
  z-index: 1;
}

.nav--list {
  position: fixed;
  inset: 0;
  background: var(--bg-secondary-900);
  padding: 15rem 1rem 5rem;
  opacity: 0;
  transform: translateX(100%);
  /* display: none; */
}

.nav--list .nav--list__label {
  color: var(--text-secondary-300);
  font-size: 2.2rem;
  font-weight: 400;
}

.nav--list__item {
  overflow: hidden;
}

.nav--list__link {
  display: inline-block;
  text-decoration: none;
  font-size: 6rem;
  color: var(--text-secondary-900);
  transition: 250ms;
}

.nav--list__link.active {
  font-weight: 900;
  font-style: italic;
}

.nav--list__link:hover,
.nav--list__link:focus {
  color: var(--text-secondary-700);
  padding-left: 0.2em;
}

.nav--toggler {
  width: 32px;
  height: 32px;
  background: var(--bg-secondary-800);
  cursor: pointer;
}

.header--nav.open .nav--toggler {
  background: var(--bg-primary-800);
}

.nav--toggler__bar {
  width: 100%;
  height: 3px;
  background: var(--bg-primary-800);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header--nav.open .nav--toggler__bar {
  background: var(--bg-secondary-800);
}

.nav--contact {
  margin-top: 5rem;
}

.nav--contact__label {
  color: var(--text-secondary-300);
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.nav--contact a {
  font-size: 5rem;
  margin-right: 2rem;
  transition: 300ms;
}

.nav--contact a:hover {
  opacity: 0.5 !important;
}

.nav--contact .twitter {
  color: rgb(8, 164, 236);
}

.nav--contact .linkedin {
  color: rgb(1, 1, 230);
}

.nav--contact .github {
  color: var(--text-secondary-800);
}

.nav--oglu {
  position: fixed;
  color: var(--text-secondary-700);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(10rem, 1rem + 40vw, 50rem);
  letter-spacing: -0.08em;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0.02;
  line-height: 0.8em;
  z-index: -1;
}

@media (min-width: 768px) {
  .nav--toggler,
  .nav--contact,
  .nav--list__label,
  .nav--contact__label,
  .nav--oglu {
    display: none;
  }

  .nav--list {
    opacity: 1;
    transform: unset;
    background: unset;
    position: relative;
    inset: unset;
    display: flex;
    padding: unset;
  }

  .nav--list__link {
    color: var(--text-primary-500);
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0.5em 0.8em;
    margin-right: 0.3em;
  }

  .nav--list__link:hover,
  .nav--list__link:focus {
    background: var(--bg-primary-800);
    color: var(--text-primary-900);
    padding: 0.5em 0.8em;
  }
}
