*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  position: relative;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /* Colors */
  --black-900: hsl(0, 0%, 4%);
  --black-800: hsl(0, 0%, 10%);
  --black-700: hsl(0, 0%, 20%);
  --black-500: hsl(0, 0%, 28%);
  --black-300: hsl(0, 0%, 35%);

  --white-900: hsl(0, 0%, 98%);
  --white-800: hsl(0, 0%, 90%);
  --white-700: hsl(0, 0%, 82%);

  /*--------- Light Theme --------*/
  /* Text */
  --text-primary-900: var(--black-900);
  --text-primary-800: var(--black-800);
  --text-primary-700: var(--black-700);
  --text-primary-500: var(--black-500);

  --text-secondary-900: var(--white-900);
  --text-secondary-800: var(--white-800);
  --text-secondary-700: var(--white-700);
  --text-secondary-300: var(--black-300);

  /* background */
  --bg-primary-900: var(--white-900);
  --bg-primary-800: var(--white-800);
  --bg-primary-700: var(--white-700);

  --bg-secondary-900: var(--black-900);
  --bg-secondary-800: var(--black-800);
  --bg-secondary-700: var(--black-700);

  /* Spaces */
  --nav-height: 10vh;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/RobotoMono.ttf");
}

body {
  margin: 0;
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-primary-900);
}

body.no-scroll {
  overflow-y: hidden;
}

body.nav-scrolled {
  padding-top: var(--nav-height);
}

p {
  line-height: 1.5em;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #444;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
  /* box-shadow: inset -2px 1px rgba(255, 255, 255, 0.16); */
  border-left: 3px solid #222;
  border-right: 1px solid #222;
}

/* Helpers */
.container {
  padding: 0 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  --clr: var(--text-primary-500);
  border: 2px solid var(--clr);
  background: transparent;
  color: var(--clr);
  font-size: clamp(1.6rem, 1rem + 2vw, 2.4rem);
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.7em 1.5em;
  border-radius: 0.2em;
  cursor: pointer;
  transition: 200ms;
}

.btn:hover,
.btn:focus {
  --clr: var(--text-secondary-800);
  background: var(--bg-secondary-700);
  /* background: var(--white-500); */
}

.link {
  text-decoration: none;
  color: rgb(2, 97, 206);
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  display: inline-block;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: currentColor;
  opacity: 0.5;
  width: 100%;
  height: 0.4em;
  transition: 200ms;
}

.link:hover::after,
.link:focus::after {
  height: 100%;
}

.react {
  background: rgb(48, 121, 230);
  color: var(--white-900);
}

.styled-components {
  background: rgb(241, 110, 132);
  color: var(--white-900);
}

.framer-motion {
  background: linear-gradient(145deg, rgb(93, 28, 158), rgb(204, 42, 245));
  color: var(--white-900);
}

.html {
  background: rgb(223, 23, 23);
  color: var(--white-900);
}

.css {
  background: rgb(56, 143, 243);
  color: var(--white-900);
}

.javascript {
  background: rgb(228, 215, 33);
  color: var(--white-900);
}
