.work {
  background: hsl(220, 95%, 97%);
  padding: 5rem 0;
}

.work--title .title {
  font-size: clamp(4rem, 1rem + 15vw, 12rem);
  line-height: 1em;
  letter-spacing: -0.08em;
  margin-bottom: 8rem;
}

.work--title .title span {
  display: block;
}

.work--projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work--projects__project {
  flex-basis: 100%;
  margin-bottom: 7rem;
  max-width: 420px;
}

.project--image {
  height: 320px;
  overflow: hidden;
  border-radius: 0.5em 0.5em 0 0;
}

.project--image .overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  background: hsl(220, 90%, 95%);
}

.project--image img {
  position: absolute;
  left: 0;
  top: 0;
}

.project--details {
  padding: 1.5rem 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.project--details__name {
  font-size: 1.8rem;
  letter-spacing: -0.05em;
  word-spacing: -0.2em;
  margin-bottom: 0.8rem;
  color: var(--text-primary-700);
}

.project--details__links a {
  font-size: 1.8rem;
  margin-left: 0.1em;
  color: var(--text-primary-700);
  display: inline-flex;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 250ms;
}

.project--details__links a:hover,
.project--details__links a:focus {
  background: var(--text-primary-800);
  color: var(--text-secondary-800);
}

.project--details__tags {
  position: absolute;
  bottom: 0;
  letter-spacing: -0.05em;
  font-weight: 500;
}

.project--details__tags span {
  display: inline-block;
  padding: 0.2em 0.5em;
  border-radius: 50rem;
  margin-right: 0.5em;
}

@media (min-width: 700px) {
  .work--projects {
    justify-content: space-between;
  }

  .work--projects__project {
    flex-basis: 46%;
    max-width: 500px;
  }

  .work--projects__project:nth-child(n + 2) {
    margin-top: -10rem;
  }
}
